################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/ProjectSettings
/Packages
/Logs
/Library
/Assets/Resources/Animations
/Assets/Resources/Effects
/Assets/Resources/Environment
/Assets/Resources/Fonts
/Assets/Resources/Prefabs
/Assets/Resources/Sounds
/Assets/Resources/Sprites
/Assets/Scenes
/Assets/Resources/JsonData
/Assets/Resources/JsonDataNew
/Assets/Resources
/Assets/Scripts/CollectionData/MethodInvoke/PassiveActive.cs.meta
/Assets/Scripts/CollectionData/MethodInvoke/ItemActive.cs.meta
/Assets/Scripts/CollectionData/MethodInvoke/EventActive.cs.meta
/Assets/Scripts/CollectionData/MethodInvoke/BuffActive.cs.meta
/Assets/Scripts/CollectionData/Model/Monster.cs.meta
/Assets/Scripts/CollectionData/Model/Hero.cs.meta
/Assets/Scripts/CollectionData/Model.meta
/Assets/Scripts/CollectionData/MethodInvoke.meta
/Assets/Scripts/CollectionData/JsonReadWrite.cs.meta
/Assets/Scripts/CollectionData/Enum.cs.meta
/Assets/Scripts/CollectionData/DataModel.cs.meta
/Assets/Scripts/CollectionData/Calculate.cs.meta
/Assets/Scripts/Systems/Light/PointLight.cs.meta
/Assets/Scripts/Systems/Light/MaskLight.cs.meta
/Assets/Scripts/Systems/Light/Glow.cs.meta
/Assets/Scripts/Controllers/TeamController.cs.meta
/Assets/Scripts/Controllers/SelectAttackController.cs.meta
/Assets/Scripts/Controllers/MapController.cs.meta
/Assets/Scripts/Controllers/LandController.cs.meta
/Assets/Scripts/Controllers/ItemController.cs.meta
/Assets/Scripts/Controllers/ForestShopController.cs.meta
/Assets/Scripts/Controllers/CampController.cs.meta
/Assets/Scripts/Controllers/BuffController.cs.meta
/Assets/Scripts/Controllers/BattleController.cs.meta
/Assets/Scripts/Systems/Light.meta
/Assets/Scripts/Systems/ExpSlider.cs.meta
/Assets/Scripts/Systems/DropdownCanvasLayer.cs.meta
/Assets/Scripts/Systems/CreateJsonFile.cs.meta
/Assets/Scripts/Systems/ControlSlider.cs.meta
/Assets/Scripts/Systems/ParticleDestroy.cs.meta
/Assets/Scripts/UI/Panel/MonsterPanel.cs.meta
/Assets/Scripts/UI/Panel/MonPanel.cs.meta
/Assets/Scripts/UI/Panel/MenuPanel.cs.meta
/Assets/Scripts/UI/Panel/ManageHeroPanel.cs.meta
/Assets/Scripts/UI/Panel/HeroPanel.cs.meta
/Assets/Scripts/UI/Panel/GatePanel.cs.meta
/Assets/Scripts/UI/Panel/ShopPanel.cs.meta
/Assets/Scripts/UI/Panel/SettingPanel.cs.meta
/Assets/Scripts/UI/Panel/RewardPanel.cs.meta
/Assets/Scripts/UI/Panel/PlayerPanel.cs.meta
/Assets/Scripts/UI/Panel/PlayerInfoPanel.cs.meta
/Assets/Scripts/UI/Popup/PopupTurnBattleNotify.cs.meta
/Assets/Scripts/UI/Popup/PopupText.cs.meta
/Assets/Scripts/UI/Panel/TutorialPanel.cs.meta
/Assets/Scripts/UI.meta
/Assets/Scripts/UI/Slots.meta
/Assets/Scripts/UI/Popup.meta
/Assets/Scripts/UI/Panel.meta
/Assets/Scripts/Systems.meta
/Assets/Scripts/MainCore.cs.meta
/Assets/Scripts/Cutscene.cs.meta
/Assets/Scripts/Controllers.meta
/Assets/Scripts/CollectionData.meta
/Assets/W3AFile
/Assets/_External
/Assets/_External.meta
/Assets/W3AFile.meta
/Assets/Scripts.meta
/Assets/Scenes.meta
/Assets/Resources.meta
/Assets/CreateDungeon.json.meta
/Assets/CreateDungeon.json
/Assets/Scripts/UI/Slots/TeamIconSlot.cs.meta
/Assets/Scripts/UI/Slots/ShopSlot.cs.meta
/Assets/Scripts/UI/Slots/ShadowSlot.cs.meta
/Assets/Scripts/UI/Slots/QuestionSlot.cs.meta
/Assets/Scripts/UI/Slots/ItemSlot.cs.meta
/Assets/Scripts/UI/Slots/HeroSlot.cs.meta
/Assets/Scripts/UI/Slots/GateSlot.cs.meta
/Assets/Scripts/UI/Slots/AttackSlot.cs.meta
*.meta